<div class="dashboard-container">
  <app-page-header
    [header]="header"
  ></app-page-header>
  <div class="section stable-gutter">
    <app-date-range></app-date-range>
    <app-builder
      [title]="'Income'"
      [type]="'income'"
      [triggerEntireBudget$]="triggerObservables.income$"
    ></app-builder>
    <app-builder
      [title]="'Expense'"
      [type]="'expense'"
      [showMonths]="false"
      [triggerEntireBudget$]="triggerObservables.expense$"
    ></app-builder>
    <app-balance></app-balance>
  </div>
</div>